<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Calculator</title>
        
    </script>
</head>
<body>

    <p>Calculator</p>
    <div class="card" id="app">
        <div class="frame">
            <input type="text" ref="num1" v-model="state.num1">
            <div>+</div>
            <input type="text" ref="num2" v-model="state.num2"><br>
            <button onclick="doApp()">=</button>
            <div ref="result">{{state.result}}</div>
            <div>{{state.num1}} + {{state.num2}} = {{state.result}}</div>
        </div>
    </div>
    
</body>
<script>
        const { createApp, reactive, computed } = Vue
        createApp({
            setup() {
                const state = reactive({
                    num1 : '1',
                    num2 : '1',
                    result : 2
                })
                const result = computed(function() {
                    return parseInt(state.num1) + parseInt(state.num2)
                })
                const doApp = function(){
                    state.result = parseInt(state.num1) + parseInt(state.num2)
                }
                return {state, doApp, result}
            }
        }).mount('#app')


</script>
<style>
    .card{
        display: flex;
        justify-content: center;
    }
.frame{
    width: 300px;
    height: 270px;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    background-color: antiquewhite;
    text-align: center;
    font-size: 24pt;
    

}
input{
    text-align: center;
    font-size: 18pt;
}
p{
    font-size: 30pt;
    text-align: center;
}
</style>

</html>